@font-face {
    font-family: Coca-Cola;
    src: url(../fonts/Coca-Cola.otf);
   }
#head
{
    color: #d6f2f5;
    font-family: Coca-Cola, serif;
    font-size: 300%;
    padding-left: 5%;
    padding-top: 3%;
    letter-spacing: 5px;

}